body {
  font-family: "Petit Formal Script", cursive;
  background-color: #fcfddf;
  opacity: 0.7;
  background-image: linear-gradient(#eab6d0 1px, transparent 1px),
    linear-gradient(to right, #eab6d0 1px, #fcfddf 1px);
  background-size: 20px 20px;
}

.container {
  max-width: 600px;
  padding: 30px;
  background: #fcfddf;
  border-radius: 20px;
  margin: 300px auto;
  border: 5px dashed #eab6d0;
}

header {
  border-bottom: 5px dashed #eab6d0;
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 40px;
  color: #93bbec;
  font-weight: 400;
  font-style: normal;
}

label {
  font-size: 20px;
  line-height: 1.8;
}

.gauge-wrapper,
.width-wrapper {
  margin: 30px;
}

.calculate-button {
  color: white;
  font-size: 16px;
  font-family: "Petit Formal Script", cursive;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  background: #eab6d0;
  padding: 15px;
}

button:hover {
  color: #93bbec;
  background: #fcfddf;
  border: 2px dashed #eab6d0;
}

.result {
  margin: 20px;
  text-align: center;
}

footer {
  border-top: 5px dashed #eab6d0;
  margin-top: 40px;
}

footer a {
  color: #93bbec;
  text-decoration: none;
}

.coder {
  font-size: 13px;
  margin: 20px 0 0 0;
}
